

<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-primary" role="alert">
     <span id="txt_agnt">Agents</span><br>
      Create Agents For Multiple Chat
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-3">
  
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        
          <h5 class="card-title" id="crd_title">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Widget</h5>
          <p class="card-text" id="crd_txt">Embed and customize the widget on your website.</p>
          <a routerLink="/admin/widget" class="card-link">Customize Widget</a>/a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        
          <h5 class="card-title" id="crd_title">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Trigger</h5>
          <p class="card-text" id="crd_txt">Embed and customize the widget on your website.</p>
          <a href="#" class="card-link">Customize Widget</a>/a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        
          <h5 class="card-title" id="crd_title">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Role</h5>
          <p class="card-text" id="crd_txt">Embed and customize the widget on your website.</p>
          <a href="#" class="card-link">Customize Widget</a>/a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        
          <h5 class="card-title" id="crd_title">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Agent</h5>
          <p class="card-text" id="crd_txt">Embed and customize the widget on your website.</p>
          <a href="#" class="card-link">Customize Widget</a>/a>
        </div>
      </div>
    </div>      
       
  </div> 